{% extends 'base_layout.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" media="all" href="{% static "evablog/contact.css" %}">
{% endblock styles %}

{% block content %}
    <div class="main">
        <p class="main__text">
                I would love to hear from you so if you have an important question or Business Opportunity please do not hesitate to contact me via <a href="mailto:ewagulida@gmail.com">e-mail</a>. Please note that sending me a product/s will not guarantee a review and the product may feature alongside other brands. I will only write about products that I have trialled, tested and would recommend to friends or family.
                <br>
                For all other enquiries please feel free to contact me via any of my social media channels, I look forward to hearing from you.
        </p>
    </div>
{% endblock content %}

