.main{
    width: 67%;
    display: flex;
    margin-left: 18%;
    margin-top: 2%;
    margin-bottom: 2%;
}


.main__text{
    margin-top: 0;
    margin-left: 2%;
    text-align: justify;
    white-space: pre-line;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

