{% extends 'base_layout.html' %}
{% load static %}

{% block styles %}
            <link rel="stylesheet" media="all" href="{% static "evablog/dear-stress-lets-break-up.css" %}">
{% endblock styles %}

{% block content %}
      <figure class="head-photo">
        <img src="{% static 'evablog/img/view-15.jpg' %}">
      </figure>
      <section class="main">
        <p class="main__title">{{ article.title }}</p>
        <p class="main__date">17 JANUARY 2015</p>
        <article class="main__1">
            <p>It may sound obvious, but yes: we all stress out. Everyday, about some minor and major issues. Sometimes it’s worth it – sometimes not…So, the thing is – how to actually stop it or, at least, reduce its appearence in your daily routine?
                    Frankly speaking, I have no idea how to remove it from our lives unless you live in a cage far away from civilazation with no internet and mass-media…wait, then you gonna be stressed out about it, aren’t you?)
                    So, here’s a couple of tips I personally use on a weekly bases. 
            </p>
            <p>
                    1. First things first, I ALWAYS have an evening that is completely dedicated to myself. Usually it’s a Saturday night: you are already a bit relaxed by that time and you don’t have to hurry anywhere tomorow morning – sounds perfect) 
                    So, what can you do? Take a bubble bath, apply some face mask, burn a nice-smelling candle and read a book or listen to music. Sounds strange, but for me it’s important to switch of my laptop and internet. Only this way it feels like relaxation. </p>
        </article>
        <img src="{% static 'evablog/img/view-16.jpg' %}">
        <p class="main__subtitle">Work Out</p>
        <article>
            <p>
                    2. If your mind is bogling with ideas: bright – write them down not to forget, not so bright – work out. Working out really helps to take your mind off some things that bother you. I prefer swimming – ideal or HIIT – when I don’t have much time (P.S. After this kinf of work out I have not just any random thoughts – I have no thoughts at all, except for: can I kill the person who created this work out.
            </p>
        </article>
        <img src="{% static 'evablog/img/passion.jpg' %}">
        <p class="main__subtitle-1">Drink Water</p>
        <article>
            <p>
                    3. Drink water. Sounds cliche. I know. But it is so freaking important. I noticed that when I drink enough water (for me 2,5L) I feel more energised, less tired and fatigued. So, let’s flush this stress away from our body!                 
            </p>
        </article>
        <img src="{% static 'evablog/img/water.jpg' %}">
    </section>
{% endblock content %}
