{% extends 'base_layout.html' %}
{% load static %}

{% block styles %}
            <link rel="stylesheet" media="all" href="{% static "evablog/healthy-eating-good-habit-or-disaster.css" %}">
{% endblock styles %}

{% block content %}
      <figure class="head-photo">
        <img src="{% static 'evablog/img/food-5.jpg' %}">
      </figure>
      <section class="main">
        <p class="main__title">{{ article.title }}</p>
        <p class="main__date">7 JUNE 2015</p>
        <article class="main__1">
            <p>Today it’s highly popular to eat healthy, to use lots of different superfoods, drink smoothies and green juices and to regularly detox.
                Personally I consider myself to be one of “healthy-superfood-freaks”. But before I start telling you my story (that will come in several posts),
                I want to talk about the reasons behind all this hipe. Did we suddenly realise that for the last several decades we were eating lots of crap?
                Did people who were growing up with ideals of Kate Moss body become adults and decide to change the fashion? Or maybe all the popularity of fitness models (aka Miranda Kerr, Candise Swanepoel and other VS models) bring out our love for sport and healthy eating?</p>
        </article>
        <img src="{% static 'evablog/img/food-6.jpg' %}">
        <article>
            <p>
                We all are different and we all have different reasons behind our decisions.
                And eventually all the “healthy” hipe is a good thing. But the worst enemy of good is better.
                And even from something so amazing grew a new monster – the so called orthorexia.
                For those who haven’t heard about it – it is an eating disorder characterized by an extreme or excessive preoccupation with avoiding foods perceived to be unhealthy. WHAT?
            </p>
        </article>
        <img src="{% static 'evablog/img/food-1.jpg' %}">
        <article>
            <p>
                    In 2009, Ursula Philpot, chair of the <a href="https://en.wikipedia.org/wiki/British_Dietetic_Association">British Dietetic Association</a> and senior lecturer at <a href="https://en.wikipedia.org/wiki/Leeds_Beckett_University">Leeds Metropolitan University</a>, described people with orthorexia to <a href="https://en.wikipedia.org/wiki/The_Guardian">The Guardian</a> as being “solely concerned with the quality of the food they put in their bodies, refining and restricting their diets according to their personal understanding of which foods are truly ‘pure’.” This differs from other eating disorders, such as anorexia and bulimia, whereby people focus on the quantity of food eaten.
                    Can you believe it? In our constant pursue of some media-created ideals we actually turn something that is solely good for us in a new disorder. I always wonder how does it happen. Where exactly is this turning point when mindful eating becomes a new obsession…
            </p>
        </article>
        <img src="{% static 'evablog/img/food-3.jpg' %}">
     </section>
{% endblock content %}
