{% extends 'base_layout.html' %}
{% load static %}

{% block styles %}
        <link rel="stylesheet" media="all" href="{% static "evablog/simple-steps-for-a-healthy-lifestyle.css" %}">
{% endblock styles %}

{% block content %}
      <figure class="head-photo">
        <img src="{% static 'evablog/img/view-12.jpg' %}">
      </figure>
      <section class="main">
        <p class="main__title">{{ article.title }}</p>
        <p class="main__date">13 SEPTEMBER 2017</p>
        <article class="main__1">
            <p>Often when we decide that we need to live a healthier life we go through a total lifestyle overhaul. Think throwing away all the biscuits, ice-cream and crisps from your cupboards and freezer, daily workouts and living off salad. No wonder very few of us actually manage to stay on track. Next time this thought comes to your mind just start with little and simple changes that will help you feel healthier, fitter and happier without taking any drastic measures!</p>
        </article>
        <p class="main__subtitle">The Stairs Over The Escalator</p>
        <article>
            <p>
                Okay, I know you’ve heard this one a thousand times before, but it really is a great healthy hack and it’s my favourite one! Try tracking your steps and see what a difference taking the stairs instead of the lift or walking up the escalator can make to your weekly activity levels. This way you incorporate a bit of cardio into your daily routine without even trying!
            </p>
        </article>
        <img src="{{ article.thumb.url }}">
        <p class="main__subtitle-1">Go for a walk</p>
        <article>
            <p>
                    Sometimes the pure thought of going for a run is daunting, isn’t it? Do not think about it as a workout, think about it as time to explore! Put some water bottles or books in your backpack for this extra weight, take your phone or camera, put your headphones on and head out. Try to change your routes every now and then so that you don’t get bored and you’ll be surprised how many nice pictures you’ll take (see, that’s good not just for your health but also for your <a href="https://www.instagram.com">Instagram!</a>)
            </p>
        </article>
        <section class="main__photo-section">
            <img src="{% static 'evablog/img/nature-1.jpg' %}">
            <img src="{% static 'evablog/img/nature-2.jpg' %}">
        </section>
        <p class="main__subtitle-2">Stop Online Shopping And Hit The Shops</p>
        <article>
            <p>
                Need something from the shops? Instead of lying on your bed clicking away, take the time to actually get ready and visit the shops to clock up a serious number of steps. It’ll be kind to your health and even kinder to your bank account – it’s always a little harder to part with your hard-earned pounds when you’re there in person!
            </p>
        </article>
        <p class="main__subtitle-3">Change Your Diet Gradually</p>
        <article>
            <p>
                There is no need to eat only broccoli and chicken breasts when you are after the healthier lifestyle! Take it easy and step by step. It’s all about the small changes. Next time when you are doing your groceries swap white bread for a sourdough, then ham or sausages for chicken or salmon, creamy salad dressing for olive oil and in no time you’ll be buying Kombucha instead of Cola! You’ll be surprised how well it works!
            </p>
        </article>
        <p  class="main__subtitle-4">Do The Workout You Love Instead Of What You THINK You Should Do</p>
        <article>
            <p>
                Think you need to lift weights to be fit and healthy or to look a certain way? Has someone told you to do interval runs but you just can’t stand them? Although you might think their advice will get you the results you’re after, forcing yourself to do a workout you don’t enjoy is not going to motivate you to get out of bed in the morning! Doing something you genuinely enjoy will make it so much more sustainable – and in the long run will get you closer to the results you want!
            </p>
        </article>
        <img src="{% static 'evablog/img/health-1.jpg' %}">
        <p class="main__subtitle-5">Choose A Cup Of Tea And 10-minutes Of Calm Over Emails</p>
        <article>
            <p>
                Getting healthier isn’t all about what you eat and how active you are. Try swapping your habit of scrolling social media before you go to bed for a relaxing cup of mint tea and 10 minutes of calm, you can read a book (we all plan to) or a magazine. It’ll do wonders not just for your stress levels but also for your sleeping pattern.
            </p>
            <p>
                    Hope this post was helpful and please share your tips and tricks in the comments below. Thank you!
            </p>
        </article>
    </section>
{% endblock content %}
